

/*global*/

* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background: #8056e3;
}


input[type="checkbox"] {
    display: none;
}

div.switch-container {
    background: rgba(128,86,227,.1);
    width: 100px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(18,56,227,1);
    border: 4px solid #fff;
}

span.switch {
    display: block;
    border-radius: 50%;
    background-color: #fff;
    height: 50px;
    width: 50px;
    transition: .5s ease;
    box-shadow: 0 0 10px rgba(128,86,227,.6);
    transform: translateX(-30%);
    display: grid;
    place-content: center;
}

label {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 5px;
}